<!DOCTYPE html>
	<html>
		{% include header.html %}
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="https://fwilson-603.github.io/IPA-trap-game/">IPA Game</a></li>
	    		</ul>
			</nav>
			<h1>{{ page.title }}</h1>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
		{% include footer.html %}
		</body>
	</html>
